.get-space {
    padding: 5%;
}


/* .img-reponsive {
    width: 100%;
    max-width: 500px;
    height:100px;
} */


/* @font-face {
    font-family: JetbrainMono;
    src: url(./fonts/woff/JetBrainsMono-Regular.woff);
} */